<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>띵지마켓</title>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/login/loginpage.css}" /> -->
    <link rel="stylesheet" href="../../static/styles-soyun/loginpage.css">
</head>

<body>
    <div class="main_container">
        <h1><b>띵지</b>마켓</h1>
        <div class="input_container">
            <div class="icon_container">
                <img class="icon" src="../../static/images-soyun/icon_person.png" alt="아이디">
            </div>
            <input class="input" type="text" placeholder="아이디">
        </div>
        <div class="input_container">
            <div class="icon_container">
                <img class="icon" src="../../static/images-soyun/icon_password.png" alt="비밀번호">
            </div>
            <input class="input" type="text" placeholder="비밀번호">
        </div>
        <div class="button_container">
            <input class="button" type="submit" value="로그인">
            <input class="button" type="submit" value="회원가입">
        </div>
        <a href="">아이디/비밀번호 찾기</a>
        
    </div>

</body>

</html>