<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>띵지마켓</title>
    
    <link rel="stylesheet" href="../../static/styles-soyun/mypage.css">
    <!--    thymeleaf용-->
    <link th:href="@{/styles-soyun/mypage.css}" rel="stylesheet" />
</head>

<body>
    <header class="center">
        <h1><b>명지</b>마켓</h1>
        <div class="user-profile">
            <a href="">사용자닉네임</a>
        </div>
    </header>
    <nav>
        <ul class="center">
            <li><a href="">중고거래</a></li>
            <li><a href="">재능기부</a></li>
            <li><a href="">공동구매</a></li>
        </ul>
    </nav>
    <main class="center">
        <section class="modify_info_container">
            <h2>마이페이지</h2>
            <div class="section1">
                <div class="left-top">
                    <button class="profile-img"><img src="" alt="프로필"></button>
                    
                    <div>
                        <p>비밀번호</p>
                        <input class="input-password" type="password" placeholder="비밀번호">
                    </div>
                </div>
                <div class="right-top">
                    <div>
                        <p>닉네임</p>
                        <input type="text" value="사용자닉네임">
                    </div>
                    <div>
                        <p>아이디</p>
                        <input type="text" value="user001">
                    </div>
                    <div>
                        <p>이메일</p>
                        <input type="text" value="user001@mju.ac.kr">
                    </div>
                    <div>
                        <p>비밀번호 재확인</p>
                        <input type="password" placeholder="비밀번호 재확인">
                    </div>
                </div>
            </div>
            <div class="section2">
                <div class="bottom">
                    <div>
                        <input class="config-btn" type="submit" value="내 정보 수정하기">
                    </div>
                </div>
            </div>
        </section>

        <!-- after -->
        <section>
            <h2>거래내역</h2>
            <div class="post-container">
                <div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div>
                <div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div><div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>스크랩</h2>
            <div class="post-container">
                <div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div><div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div><div class="post-card">
                    <div>
                        <img class="post-img" src="" alt="">
                        <div class="post-title">게시물이름</div>
                        <div class="post-price">130,000원</div>
                    </div>
                    <div>
                        <div class="post-date">2023.11.18</div>
                        <div class="post-writer">띵지마루마리</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>