<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Posts</h1>
<div>
  <a th:href="@{/posts/{id}(id=${post.postId})}" th:text="${post.content}">Post Content</a>
  <a th:href="@{/posts/{id}(id=${post.postId})}" th:text="${post.title}">Post Title</a>
  <a th:href="@{/posts/{id}(id=${post.postId})}" th:text="${post.phoneNum}">Post Content</a>

  <form th:action="@{/posts/delete/{id}(id=${post.postId})}" method="post">
    <button type="submit">Delete</button>
  </form>
</div>
</body>
</html>