/*header*/
header>.center {
    width: 810px;
}
nav>.center {
    width: 810px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1>b {
    color: #023059;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-profile {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}
nav {
    width: 100%;
    margin: 0px;
    height: 85px;
    flex-shrink: 0;
    background: #7c8fa4;
    display: flex;
    justify-content: center;
}
nav>ul {
    /* self */
    list-style: none;
    /* item */
    display: flex;
    padding-left: 41px;
    padding-right: 41px;
    justify-content: space-between;
    align-items: center;

    width: min-content;
}
nav>ul>li > a {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*body*/
.outer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-title {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.outer-detail-container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: #F2F2F2;
    margin: 10px;
}
.detail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.detail-name {
    font-size: 20px;
    font-weight: bold;
}
.input-text {
    width: 550px;
    height: 50px;
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    margin-top: 10px;
}
button {
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #4B6989;
    color: white;
}
button:active{
    cursor: pointer;
    background-color: white;
    color: black;
}
