body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
.center {
  width: 810px;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
b {
  color: #023059;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-profile {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
a {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
nav {
  width: 100%;
  margin: 0px;
  height: 85px;
  flex-shrink: 0;
  background: #7c8fa4;
  display: flex;
  justify-content: center;
}
ul {
  /* self */
  list-style: none;
  /* item */
  display: flex;
  padding-left: 41px;
  padding-right: 41px;
  justify-content: space-between;
  align-items: center;

  width: min-content;
}
li > a {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modify_info_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
h2 {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.left-top {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 340px;
  flex-shrink: 0;
  margin-top: 80px;
  padding-right: 40px;
  height: 482px;
}
.right-top {
  display: flex;
  flex-direction: column;
}
p {
  color: #3c3c3c;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
input {
  width: 330px;
  height: 58.52px;
  flex-shrink: 0;

  border-radius: 9px;
  background: var(--White, #f2f2f2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;

  /* item */
  padding-left: 30px;
  padding-right: 30px;
  color: #3c3c3c;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
input:focus {
  outline: none;
}
.section2 {
  display: flex;
  flex-direction: column;
}
.middle {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.input-password {
  width: 330px;
}
.profile-img {
  border: 1px solid;
  height: 100%;
  cursor: pointer;
}
.bottom {
  margin-top: 30px;
}
.config-btn {
  width: 100%;
  border-radius: 9px;
  border: 2px solid #4b6989;
  background: var(--White, #f2f2f2);
}
.config-btn:active {
  color: #5b5b5b;
  width: 100%;
  border-radius: 9px;
  border: 2px solid #4b6989;
  background: #d9d9d9;
}
.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-card {
  width: 251.185px;
  height: 357px;
  flex-shrink: 0;
  border-radius: 13px;
  border: 1px solid #4b6989;
  background: var(--White, #f2f2f2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:15px;
  padding-bottom: 15px;
  align-items: center;
}
section {
  margin-bottom: 150px;
}
.post-img {
  width: 224.291px;
  height: 205.685px;
  flex-shrink: 0;
  border-radius: 15px;
}
.post-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.post-price {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.post-date {
  color: #7e7e7e;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.post-writer {
  color: #7e7e7e;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
