<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/euntaek-css/home/home.css}" />
</head>
<body>
    <header class="center">
        <h1><b>명지</b>마켓</h1>
        <div class="user-profile">
            <a href="/profile?nickname=soyun">내 정보</a>
        </div>
    </header>
    <div class="navbar">
        <a class="nav-button" href="/used-transaction">중고거래</a>
        <a class="nav-button" href="/talent-transaction">재능기부</a>
        <a class="nav-button" href="/group-transaction">공동구매</a>
        <a class="nav-button" href="/manager">관리자페이지</a>
    </div>
    <div class="card">
        <h1>명지마켓 소개</h1>
        <div class="card-content">
            <h2>이 웹사이트의 목표</h2>
            <p>명지마켓은 명지대학교 웹프로그래밍2 수업의 과제로, 명지대학교 내 중고 거래, 재능 기부, 공동 구매 서비스를 개발합니다. 현재 명지대학교 중고 거래의 불편함을 해결하고자 만들어졌으며, 에브리타임 장터 게시판의 한계를 극복하기 위한 체계적인 시스템을 제공합니다.</p>
            <div>
                <p>1. 중고거래, 재능기부, 공동구매 서비스 제공</p>
                <p>2. 명지대 학생들을 위한 맞춤형 서비스</p>
                <p>3. 효율적이고 체계적인 거래 시스템</p>
            </div>
        </div>
        <div class="card-content">
            <h2>참여자</h2>
            <p>명지마켓의 개발에 힘써주신 팀원들의 명단입니다.</p>
            <div>
                <p>1. 60222117 이서현</p>
                <p>2. 60222126 이준규</p>
                <p>3. 60221340 장소윤</p>
                <p>4. 60221320 최은택</p>
            </div>
        </div>
    </div>
</body>
</html>