<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/euntaek-css/home/home.css}" />
</head>
<body>
    <header class="center">
        <h1><b>명지</b>마켓</h1>
        <div class="user-profile">
            <a href="/profile?nickname=soyun">내 정보</a>
        </div>
    </header>
    <div class="navbar">
        <a class="nav-button" href="/used-transaction">중고거래</a>
        <a class="nav-button" href="/talent-transaction">재능기부</a>
        <a class="nav-button" href="/group-transaction">공동구매</a>
        <a class="nav-button" href="/manager">관리자페이지</a>
    </div>
    <div class="card">
        <h1>명지마켓 소개</h1>
    </div>
</body>
</html>