header>.center {
    width: 810px;
}
nav>.center {
    width: 810px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1>b {
    color: #023059;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-profile {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}
nav {
    width: 100%;
    margin: 0px;
    height: 85px;
    flex-shrink: 0;
    background: #7c8fa4;
    display: flex;
    justify-content: center;
}
nav>ul {
    /* self */
    list-style: none;
    /* item */
    display: flex;
    padding-left: 41px;
    padding-right: 41px;
    justify-content: space-between;
    align-items: center;

    width: min-content;
}
nav>ul>li > a {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container {
    width: 70%; /* 컨테이너 너비를 70%로 설정 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 20px 230px;
}

.one {
    width: calc(30% - 20px); /* 너비 설정, 3개의 카드가 한 줄에 들어가도록 */
    max-width: calc(30% - 20px);
    min-height: 400px; /* 카드의 최소 높이 설정 */
    max-height: 700px;
    overflow: hidden;
    flex: 1 1 calc((100% / 4) - 1rem); /* 3개가 한 줄에 보이도록 설정 */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    background-color: #F2F2F2;
    /*background: #fff;*/
    transition: transform 0.3s ease;
}
/*button {*/
/*    display: inline-block;*/
/*    margin: 5px;*/
/*    padding: 10px;*/
/*    background-color: #f0f0f0;*/
/*    border: 1px solid #ddd;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/
.boldtext{
    font-size: 30px;
    font-weight: bold;
    margin:10px 20px;
    line-height: 50px;
}
.up{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-between;
    margin: 10px 225px;
}
button{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}
.title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}
.txt{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}